       .box{
        display: grid;
        grid-template-columns:1fr 5fr;
        grid-template-rows:318px;
        border: 5px solid greenyellow  ;
            
       }
        .test{
             border: 1px solid greenyellow;
            text-align: center; 

        }