.card{
     
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #25b1cc;

}
.B{
    background-color: rgb(143, 252, 181);
    color: black;
}
.main heading{
    color: rgba(255, 0, 0, 0.685);
    font-family: serif;
    font-size: 50px;
     text-decoration: 2px solid blue underline;
   
/*}
.para{
    background-color: rgba(230, 0, 255, 0.269);
    color: black;
}*/
.para2{
     background-color: #f6290a;
    color: #f6290a;
}
.button{
    height: 36px;
    width: 138px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
}